aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
easydict==1.13
einops==0.8.2
filelock==4.0.3
fire==0.7.1
fonttools==4.65.0
frozenlist==1.8.0
fsspec==2026.9.0
idna==3.20
igraph==0.10.4
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
lightning-utilities==0.15.3
MarkupSafe==3.0.3
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.9.1
networkx==3.4.2
numpy==1.26.4
packaging==26.3
pandas==1.5.3
pillow==12.3.0
prettytable==3.18.0
propcache==0.5.4
psutil==7.2.2
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.4
PyYAML==6.0.1
requests==2.34.2
scikit-base==1.1.1
scikit-learn==1.3.0
scipy==1.15.1
six==1.17.0
sktime==1.2.0
sympy==1.14.0
termcolor==3.3.0
texttable==1.7.0
threadpoolctl==3.7.0
torch==2.0.1
torch-cluster==1.6.3+pt20cpu
torch-scatter==2.1.2+pt20cpu
torch-sparse==0.6.18+pt20cpu
torch-spline-conv==1.2.2+pt20cpu
torch-timeseries==0.1.10
torch_geometric==2.5.3
torchaudio==2.0.2
torchmetrics==1.1.1
torchvision==0.15.2
tqdm==4.67.1
typing_extensions==4.16.0
urllib3==2.8.0
wcwidth==0.9.1
yarl==1.25.1
